body { 
    background-image: url("img/background.png");
    background-size: 60px;
    background-position-x: 25px;
}

.NFTForm {
    height: 35px;
    width: 200px;
    margin-top:0px;
    padding-top:10px;
    background-color: #5D3713;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: 20px;
}

.NFTForm label {
    display: inline-block;
    width: 50px;
    margin-left: 20px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.makeNFTSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 140px;
    height: 30px;
    background-color: #4b2215;
    border-radius: 2px;
    color: #ffffff;
    text-decoration: none;
    margin-left: 30px;
}

.makeNFTSubmit:link, .makeNFTSubmit:visited, .makeNFTSubmit:hover, .makeNFTSubmit:active {
    color: #c43939;
}

.makeNFTSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #3b2510;
}

#NFT {
    z-index: 225;
    margin-top: -20px;
    height: 300px;
}

#NFTs {
    width: 55%;
    min-width: 400px;
    border: 2px solid #5D3713;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
    margin-right: 40%;
}

.NFT {
    width: 95%;
    margin: 0 auto;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 3px solid #3d2712;
    border-radius: 4px;
    background-color: #5d3713c5;
    padding: 10px;
    min-height:40%;
    overflow: hidden;
}

.NFT:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #5d3113ea;
}

img.NFTFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 30%;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyNFT {
    width: 600px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
    background-color: #5d3113ea;
}

h3.NFTidNum {
    float:left;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

h3.NFTvalue {
    float:left;
    text-align: left;
    width: 150px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

.NFT:first-child {
    margin-top: 10px;
}

.NFT:last-child {
    margin-bottom:10px;
}

.NFTButt {
    margin: 30px;
    width: 60px;
    height: 30px;
    background-color: #4b2215;
    border-radius: 2px;
    color: #ffffff
}

/* How the error messages appear when in the app. */
#NFTMessage {
    display:none;
    top: 250px;
    width: 300px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 20%;
    up: 700px;
    overflow: hidden;
}

#NFTMessage h3 {
    width: 260px;
    position: absolute;
    top: 2px;
    left: 20px;
}

#speech {
    height: 220px;
    width: 300px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

.accountForm {
    display: flex;
    flex-direction: column;
    background-color: #5d3113ea;
}

#passDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    font-size: 1.1em;
}

#passDiv label {
    margin: 10px;
}

#passDiv input{
    border-radius: 10px;
}